nav.alphabetList {
	position: fixed;
	right: 0;
	background: rgba(0,0,0,0.2);
	border-radius:3px;
}
nav.alphabetList ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
nav.alphabetList ul li {
	padding: 10px;
}
div.alphabetIndicator {
	position: fixed;
	display: none;
	left: 50%;
	top: 50%;
	width: 50px;
	height: 50px;
	background: rgba(0,0,0,0.2);
	margin: -25px  0 0 -25px;
	font-size: 30px;
	font-weight: bold;
	line-height: 50px;
	text-align: center;
}